.btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 14px 20px 15px 20px;

  color: $color-primary-black;

  background-color: $color-primary-white;
  border: none;
  cursor: pointer;

  transition: all $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;

    background-color: $color-primary-blue;
    color: $color-primary-white;
  }
}
