.card {
  position: relative;
  height: 100%;
  width: 100%;

  color: $color-primary-white;
}

.card:hover .card__preview {
  opacity: 0;
  pointer-events: none;
}

.card:focus .card__preview {
  opacity: 0;
  pointer-events: none;
}

.card h3 {
  color: $color-primary-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;

  margin: 0;
}

.card__preview {
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  background-color: $color-primary-blue;

  transition: opacity $trans-default;
}

.card__preview picture {
  width: 100%;
}

.card__preview img {
  width: 100%;
  height: auto;
}

.card__preview h3 {
  position: absolute;
  left: 30px;
  bottom: 22px;

  padding-right: 20px;

  @include vp-1023 {
    left: 35px;
    bottom: 27px;
  }

  @include vp-767 {
    left: 25px;
    bottom: 17px;
  }
}

.card__detail {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  padding: 28px 25px 35px 27px;

  @include vp-1023 {
    padding: 28px 34px 35px 35px;
  }

  @include vp-767 {
    padding: 28px 24px 35px 25px;
  }
}

.card__detail h3 {
  margin-bottom: 16px;
}

.card__detail h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  margin-top: 0;
  margin-bottom: 1px;
}

.card__detail p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__chapter {
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__info {
  color: $color-primary-grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.card__btn {
  width: 100%;

  padding: 9px 20px 7px;
  margin-top: 27px;

  @include vp-1023 {
    margin-top: 25px;
  }
}

.card__chapter--port h4 {
  @include vp-1023 {
    margin-bottom: 2px;
  }
}

.card__chapter--duration h4 {
  @include vp-1023 {
    margin-bottom: 2px;
  }
}
