.card {
  position: relative;
  height: 100%;
  width: 100%;

  color: $color-primary-white;
}

.card h3 {
  color: $color-primary-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.card__preview {
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 2;
  background-color: $color-primary-blue;
}

.card__preview h3 {
  position: absolute;
  left: 30px;
  bottom: 22px;
}

.card__preview img {
  @include vp-1023 {
    width: auto;
    height: auto;
  }
}

.card__detail {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  padding: 28px 25px 35px 27px;
}

.card h3 {
  margin: 0;
}

.card__detail h3 {
  margin-bottom: 16px;
}

.card__detail h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  margin-top: 0;
  margin-bottom: 1px;
}

.card__detail p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__chapter {
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__info {
  color: $color-primary-grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.card__btn {
  width: 100%;

  padding: 9px 20px 7px;
  margin-top: 27px;
}

.card {
  @include hover-focus {
    .card__preview {
      opacity: 0;
      pointer-events: none;
    }
  }
}
