.card {
  position: relative;
  height: 100%;
  width: 100%;

  color: $color-primary-white;
}

.card:focus-within .card__detail,
.card:hover .card__detail {
  z-index: 3;

  box-shadow: 0 4px 35px 0 rgba(1, 28, 64, 0.15);
  visibility: visible;
  opacity: 1;

  pointer-events: all;
}

.card h3 {
  color: $color-primary-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;

  margin: 0;
}

.card__link {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__preview {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;

  background-color: $color-primary-blue;
}

.card__preview img {
  display: block;
  width: 100%;
  height: auto;
}

.card__preview h3 {
  margin: auto 30px 22px;

  @include vp-1023 {
    margin: auto 35px 27px;
  }

  @include vp-767 {
    margin: auto 25px 17px;
  }
}

.card__detail {
  position: absolute;
  z-index: -1;
  padding: 28px 25px 10px 25px;
  overflow-y: auto;
  color: $color-primary-white;
  background-color: $color-primary-black;
  opacity: 0;

  inset: 0;

  pointer-events: none;

  @include vp-1023 {
    padding: 28px 34px 10px 35px;
  }

  @include vp-767 {
    padding: 28px 24px 10px 25px;
  }
}

.card__detail h3 {
  margin-bottom: 16px;
}

.card__detail h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  margin-top: 0;
  margin-bottom: 1px;
}

.card__detail p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__chapter {
  margin-bottom: 11px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__info {
  color: $color-primary-grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.card__btn {
  width: 100%;

  padding: 9px 20px 7px;
  margin-top: 24px;

  @include vp-1023 {
    margin-top: 25px;
  }
}

.card__chapter--port h4 {
  @include vp-1023 {
    margin-bottom: 2px;
  }
}

.card__chapter--duration h4 {
  margin-bottom: 2px;
}
