.footer {
  background-color: $color-primary-black;
}

.footer__inner {
  display: flex;
  align-items: center;

  padding-top: 50px;
  padding-bottom: 50px;

  @include vp-1023 {
    padding-top: 49px;
  }
}