.form {
  flex-shrink: 0;

  width: 403px;
  background-color: $color-primary-black;
  padding: 44px 50px 52px 50px;

  @include vp-1023 {
    padding: 44px 50px 50px 50px;
  }

  @include vp-767 {
    width: 100%;
    padding: 34px 30px 41px 30px;
  }
}

.form__desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: $color-primary-white;

  margin-bottom: 27px;

  @include vp-1023 {
    margin-bottom: 27px;
  }

  @include vp-767 {
    text-align: center;
    line-height: 140%;
  }
}

.form__desc p {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
