.hamb {
  position: relative;

  display: none;

  background-color: $color-transparent;
  padding: 0;
  width: 24px;
  height: 12px;
  border: none;

  transition: all $trans-default;

  @include vp-767 {
    display: block;
    margin-bottom: 8px;
  }


  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: $color-primary-white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 2px;

    background-color: $color-primary-white;
  }
}

.hamb__line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  width: 100%;
  height: 2px;

  background-color: $color-primary-white;
}

.is-open .hamb {
  width: 13px;
  height: 13px;
}

.is-open .hamb__line {
  display: none;
}

.is-open .hamb::before {
  transform-origin: 1px 1px;
  width: 18px;
  transform: rotate(45deg);
  background-color: $color-primary-black;
}

.is-open .hamb::after {
  transform-origin: 1px 100%;
  width: 18px;
  transform: rotate(-45deg);
  background-color: $color-primary-black;
}