.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style-type: none;
  width: 100%;
  max-width: 600px;

  padding-left: 0;
  margin: 0;

  @include vp-1023 {
    max-width: none;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu__item {
  margin-right: 33px;

  @include vp-1023 {
    margin-right: 24px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: $color-primary-white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  transition: color $trans-default;

  @include vp-1023 {
    font-size: 14px;
  }

  @include hover-focus {
    color: $color-primary-blue;
  }
}

.menu--header {
  margin-bottom: 4px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $color-primary-white;
    position: absolute;
    right: 0;
    top: 100%;
    height: 100vh;

    overflow-y: auto;

    padding-top: 8px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

.menu--header .menu__item {
  @include vp-767 {
    margin-right: 0;
    margin-bottom: 26px;
  }
}

.menu--header .menu__link {
  @include vp-767 {
    color: $color-primary-black;
    font-size: 18px;
  }
}

.menu--footer {
  margin-right: auto;
  margin-bottom: 4px;

  @include vp-1023 {
    margin-bottom: 1px;
  }

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.menu--footer .menu__link {
  @include vp-1023 {
    font-size: 12px;
  }
}

.menu--footer .menu__item {
  @include vp-767 {
    margin-right: 0;
    margin-bottom: 8px;
  }

  &:last-of-type {
    @include vp-767 {
      margin-bottom: 0;
    }
  }
}

.is-open .menu--header {
  display: flex;
  z-index: 500;
}
