.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;

  max-width: 140px;
}

.social__item {
  margin-right: 27px;

  @include vp-1023 {
    margin-right: 22px;
  }

  &:last-child {
    margin-right: 0;
  }

  @include hover-focus {
    svg {
      fill: $color-primary-blue;
    }
  }
}

.social__item svg {
  fill: $color-primary-white;

  transition: fill $trans-default;
}

.social__item--ok svg {
  @include vp-1023 {
    width: 10px;
    height: 16px;
  }
}

.social__item--yandex svg {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.social__item--reddit svg {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
